<!-- (Małpka)model Razor.models.SneakerModel - deklaracja importu modelu w Widok  -->
<!--
    Czyli (Małpka)model  -  tak zwany mostek miedzy modelem i widokiem, a dokłądniej c sharpem i html.
-->
@model List<PrototypProjekta.Models.SneakerModel>


    <!-- 
        Układ - zadaniem układu jest definiowanie powtarzalnych kompozycji widoków
    -->


<p class="text-center">
    <a asp-controller="Sneaker" asp-action="Add" class="btn btn-primary btn-lg">Dodaj</a>
</p>
<table class="table">


    <!-- -->
    <table class="table">
       <tr>
           <th>Marka</th>
           <th>Model</th>
           <th>Cena</th>
           <th>Rodzaj</th>
           <th>Akcje</th>
       </tr>
        <!-- -->


    <!-- iteracja - Jawna   -->
    @foreach (var eS in Model)
    {
        <tr>
            <!-- zostanie umieszczone w układzie --> 
            <td>@eS.CompanyName</td>
            <td>@eS.ModelName</td>
            <!-- <td>  <div class="border border-success text-success" style="text-align:center;border-radius: 10px; margin: 5px;"> element. </div>  </td> -->
            <td>@eS.Price</td>
                @if (@eS.CategoryModel is null)
                {
                    <td>-</td>
                }
                else
                {
                    <td>@eS.CategoryModel.CategoryName</td>
                }


                <td>
                    <a asp-controller="Sneaker" asp-action="Delete" asp-route-id=@eS.SneakerModelId class="btn btn-danger">Usuń</a>
                    <a asp-controller="Sneaker" asp-action="ChangeCategorySneaker" asp-route-id=@eS.SneakerModelId class="btn btn-primary">Określ rodzaj</a>
                </td>
        </tr>
    }
</table>